@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&family=Michroma&family=Montserrat&family=Mr+Dafoe&display=swap');

/* page-wide attributes */
* {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
}

head {
    display: none;
}

h1 {
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    color: #f7f7f8;
    text-align: center;
    margin: 10px auto;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #f7f7f8;
}

p {
    font-family: 'Montserrat', 'roboto', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: #db0a0b;
}

a:hover {
    text-decoration: underline;
    color: #cc7d6f;
}

/* header */
#oh-dear {
    font-family: 'Mr Dafoe', cursive;
    font-size: 3em;
    color: #db0a0b;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* page body */
.container {
    position: relative;
    width: 100%;
    height: 70%;
}

.text-1 {
    display: block;
    margin: 10px auto;
    width: 66%;
    z-index: 2;
    text-shadow: 2px 2px #00000094;
    text-align: center;
}

#no-u {
    font-family: 'Monsterrat', 'roboto', sans-serif;
}

.text-2 {
    display: block;
    margin: 10px auto 2em auto;
    width: 66%;
    z-index: 2;
    text-shadow: 2px 2px #00000094;
    text-align: center;
}

.pot-img {
    z-index: -1;
    pointer-events: none;
    animation-name: pog-move;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.pot-img img {
    position: relative;
    top: 200%;
    pointer-events: auto;
    width: auto;
    height: 450px;
    margin: 0 auto;
    transition-duration: 1s;
    animation-name: pog;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.pot-img img:hover {
    box-shadow: 0px 0px 10px 4px #f5bb00d0;
    cursor: pointer;
    animation-name: pog-scale;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* footer */
.acknowledgements {
    text-align: right;
    color: #f7f7f8;
}

.acknowledgements p {
    padding: 0% 2% 1% 0%;
}

/* media queries */
@media screen and (min-width: 1000px) {
    /* html and body ruleset sourced from stack overflow */
    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    .acknowledgements {
        position: absolute;
        bottom: 1%;
        right: 2%;
}
}

@media screen and (max-height: 700px) {
    .pot-img img {
        height: 50vh;
}
}

@media screen and (max-width: 315px) {
    .pot-img img {
        width: 100vw;
        height: auto;
        transition-duration: 0s;
    }
}

/* animations */

@keyframes pog {
    from {
        transform: rotate(-10deg) scale(4);
        opacity: 0;
        z-index: -1;
    }

    to {
        transform: rotate(0deg) scale(1);
        opacity: 1;
        z-index: 3;
    }
}

@keyframes pog-scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}