@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&family=Michroma&family=Montserrat&display=swap');

/* background, wildcards and base page formatting*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: 'teko', impact, sans-serif;
}

h2 {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #db0a0b;
}

a:hover {
    text-decoration: underline;
    color: #cc7d6f;
}

body {
    font-family: 'Montserrat', 'roboto', sans-serif;
    color: #f8f8f7;
    text-shadow: 1px 1px #000000;
    background-color: #000000;
    font-size: 1.25em;
}

.bg {
    background: url(../images/index/index-bg-b.png) no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -2;
    animation-name: index-bg-slide;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#logo-positioner {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition-duration: 1s;
}

#logo-container {
    margin: 0 auto;
    padding-top: 15px;
    color: #f8f8f7;
    width: 230px;
    height: 115px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition-duration: 1s;
    z-index: 4;
    opacity: 1;
    animation-name: logo-opening;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#logo-container img {
    width: 70%;
    height: 70%;
}

.ink-partition {
    width: 100%;
    height: 200px;
    background: url(../images/index/ink-partition-4.png) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation-name: ink-opening;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/* page layout */
.index-layout {
    position: relative;
    top: -500px;
    display: grid;
    row-gap: 0px;
    grid-template-areas:
        'hero'
        'call-to-action'
        'contact'
        'footer';
    overflow: hidden;
    animation-name: index-opener;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/* navigation */
nav {
    position: fixed;
    z-index: 2;
    opacity: 0;
    top: 4%;
    right: 10%;
    width: 220px;
    height: 470px;
    background: none;
    overflow: hidden;
    animation-name: nav-page-open;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.nav-menu {
    position: relative;
    z-index: 20;
    top: 0;
    left: 135px;
    width: 85px;
    height: 65px;
    line-height: 65px;
    background-color: none;
    background: url(../images/index/pb1flip.png) no-repeat;
    background-size: 365px;
    background-position: 0% 77%;
    border-radius: 20px;
    color: #f8f8f7;
    cursor: pointer;
    padding-right: 10px;
    border: none;
    text-align: right;
    font-size: 50px;
    transition: 0.4s;
}

#big-nav {
    display: none;
}

.active,
.nav-menu:hover {
    left: 155px;
    background: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f8f7;
    border-radius: 0px;
    color: #000000;
    width: 65px;
}

.panel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: -75px;
    right: 100%;
    padding: 60px 0px 0px 0px;
    display: none;
    background-color: #f8f8f7;
    overflow: hidden;
    text-align: center;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 4px;
    animation-name: nav-focus;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.panel li {
    list-style-type: none;
}

.panel a {
    font-family: 'times new roman', 'serif';
    text-decoration: none;
    text-shadow: none;
    color: #000000;
}

.panel a:hover {
    color: #db0a0b;
}

#current {
    border-right: 4px solid #db0a0b;
}

.panel a:hover {
    letter-spacing: 8px;
    color: #db0a0b;
    transition-duration: 1.5s;
}

/* header and hero section */
#moblink {
    visibility: hidden;
    width: 100%;
    z-index: 8;
}

@media screen and (max-width: 420px) {
    #moblink {visibility: visible;}
}

.hero {
    position: relative;
    grid-area: hero;
    top: -10%;
    opacity: 0;
    animation-name: hero-opening;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.hero-link {
    position: absolute;
    padding: 20px 40px 17px 15px;
    left: 5%;
    bottom: 20%;
    z-index: 10 !important;
    text-decoration: none;
    color: #f8f8f7 !important;
    background: url(../images/index/pb1.png) no-repeat;
    background-position: 100% 40%;
    background-size: 400px;
    border-radius: 10px;
    opacity: 0;
    animation-name: hero-a-page-open;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.hero-link a {
    color: #f8f8f7;
}

.hero-link:hover {
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 15px 17px 40px !important;
    background: url(../images/index/pb2.png) no-repeat !important;
    background-position: 0% 50% !important;
    transition-duration: 1s;
    animation-duration: 1s;
    background-size: 400px;
    opacity: 1;
}

#hero-project {
    padding-top: 56.25%;
    position: relative;
    bottom: 0%;
    z-index: 0;
    overflow: hidden;
}

#hero-project video {
    border: 0;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.ip-bottom-hero {
    top: 89%;
}

.ip-top-cta {
    top: 80%;
    z-index: -1;
}

/* call to action section */
#mobile-logo {
    display: none;
    position: relative;
    top: 25%;
    justify-content: center;
}

#mobile-logo img {
    width: 35%;
    height: 35%;
}

#call-to-actions {
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    background-size: cover;
}

#call-to-actions>h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

#call-to-actions p {
    margin: 20px auto;
}

.call-to-action {
    grid-area: call-to-action;
    overflow: hidden;
    position: relative;
    top: 0%;
    opacity: 1;
}

.contact-head {
    text-align: center;
    margin: 20px auto;
}

.contact-mail {
    text-align: center;
    margin: 0 auto;
}

/* footer */
.footer {
    grid-area: footer;
    position: relative;
}

#social-footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    color: #f8f8f7;
    position: relative;
}

.ip-bottom-cta {
    top: -30%;
    animation-delay: 0s;
}

#social {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#social h2 {
    text-align: center;
    font-size: 80%;
    position: relative;
    z-index: 4;
}

.social-buttons {
    text-align: center;
    display: grid;
    position: relative;
    bottom: 10px;
    z-index: 4;
    grid-template-columns: 33% 33% 33%;
}

.social-buttons li {
    margin: 15px 15%;
    list-style-type: none;
}

.social-buttons i {
    font-size: 300%;
    padding: 5%;
    margin: 1%;
}

#twitter {
    color: #f8f8f7;
}

#twitter i:hover {
    color: rgb(29, 155, 240);
}

#youtube {
    color: #f8f8f7;
}

#youtube i:hover {
    color: #c00;
}

#instagram {
    color: #f8f8f7;
}

#instagram i:hover {
    color: #C0007A;
}

.footer-creds {
    display: grid;
    grid-template-areas:
        'creds-1 creds-2';
}

#cal-rex-git {
    grid-area: creds-1;
    text-align: left;
}

#copyright {
    grid-area: creds-2;
    text-align: right;
}

/* media-queries */
/* navigation adjustment for larger screens */
@media screen and (min-width: 1000px) {
    #logo-positioner {
        top: 30%;
    }

    #logo-container {
        width: 460px;
        height: 230px;
    }

    .nav-menu {
        left: 35px;
        width: 185px;
    }

    .active,
    .nav-menu:hover {
        background: none;
        background-color: #f8f8f7;
        border-radius: 0px;
        color: #000000;
        width: 170px;
        left: 50px;
    }

    #big-nav {
        display: inline-block;
        position: relative;
        top: -15%;
        font-size: 50%;
        letter-spacing: 8px;
        text-transform: uppercase;
        text-align: center;
        line-height: 60px;
    }

    .active,
    .nav-menu:hover #big-nav {
        font-family: 'Times New Roman', Times, serif;
    }

}

@media screen and (min-width: 1500px) {
    .ip-top-cta {
        top: 90%;
    }

}

/* for smaller screens */
@media screen and (max-width: 1700px) {
    #call-to-actions {
        width: 40%;
        margin: 0 auto 0 15%;
    }
}

@media screen and (max-width: 1350px) {
    #call-to-actions {
        margin: 0 auto 0 10%;
    }
}

@media screen and (max-width: 1250px) {
    .bg {
        background-position: 80%;
    }

    #call-to-actions {
        width: 50%;
        margin: 0 auto 0 12.5%;
    }
}

@media screen and (max-width: 1100px) {
    .bg {
        background-position: 80%;
    }

    #call-to-actions {
        width: 50%;
        margin: 0 auto 0 10%;
    }
}

@media screen and (max-width: 1025px) {
    #call-to-actions {
        padding-top: 15%;
    }
}

@media screen and (max-width: 900px) {
    #call-to-actions {
        width: 66%;
        margin: 15% auto 10% auto;
        background-color: #00000061;
    backdrop-filter: blur(10px);
    padding-top: 0;
    padding: 5%;
    }
}

@media screen and (max-width: 770px) {
    #call-to-actions {
        width: 80%;
    }

}

@media screen and (max-width: 650px) {
    #call-to-actions {
        margin: 20% auto 10% auto;
    }

}

@media screen and (max-width: 545px) {
    .bg {
        background-position: 75% 50%;
    }

    #logo-positioner {
        display: none;
    }

    #call-to-actions {
        margin: 50% auto 15% auto;
    }
}

@media screen and (max-width: 450px) {
.hero-link {
    position: absolute;
    padding: 20px 40px 17px 15px;
    left: 0;
    bottom: 0%;
    z-index: 10 !important;
    text-decoration: none;
    background: url(../images/index/pb2.png) no-repeat;
    background-position: 100% 30%;
    background-size: 400px;
    border-radius: 10px 10px 10px 0px;
}
}

@media screen and (max-width: 420px) {

    .ip-bottom-hero {
        top: 80%;
    }

    .ip-top-cta {
        top: 40%;
    }

    #mobile-logo {
        top: 12.5%;
    }

    #call-to-actions {
        margin: 50% 0 15% 0;
        width: 95vw;
        padding: 2.5%;
    }
}

@media screen and (max-width: 380px) {

    #mobile-logo {
        top: 10%;
    }
}

@media screen and (max-width: 285px) {}

/* animations */
/* background */
@keyframes index-opener {
    from {
        top: -500px;
    }

    to {
        top: 0px;
    }
}

@keyframes index-bg-slide {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes logo-opening {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes ink-opening {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes nav-page-open {
    from {
        opacity: 0;
        right: 10%;
    }

    to {
        opacity: 1;
        right: 2.5%;
    }
}

@keyframes nav-focus {
    from {
        opacity: 0;
        top: -100%;
        right: -100%;
    }

    to {
        opacity: 1;
        top: 0%;
        right: 0%;
    }
}

/* header and hero section */
@keyframes hero-opening {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hero-a-page-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}